
<div class="container">
<h2 style="text-align:center">{{titulo}}</h2>
  <a [routerLink]="['/passageiros/novo']" class="btn btn-primary btn-md" style="background-color: #dc3545;">
  Novo Passageiro
  </a>
  <br><br>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th class="bg-danger text-white" >Nome</th>
        <th class="bg-danger text-white">CPF</th>
        <th class="bg-danger text-white">Celular</th>
        <th class="bg-danger text-white">Origem</th>
        <th class="bg-danger text-white">Destino</th>
        <th class="bg-danger text-white">Data</th>
        <th class="bg-danger text-white">Excluir</th>
      </tr>
      <tr *ngFor="let passageiro of passageiros">
      <td>
        <a [routerLink]="['/passageiros', passageiro._id]">
          {{passageiro.nome}}
        </a>
      </td>     

        <!-- <td>{{ passageiro.nome }}</td> -->
        <td>{{ passageiro.cpf }}</td>
        <td>{{ passageiro.celular }}</td>
        <td>{{ passageiro.cidade_origem.cidade }}</td>
        <td>{{ passageiro.cidade_destino.cidade }}</td>
        <td>{{ passageiro.data | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button class="btn btn btn-danger" (click)="excluir(passageiro._id)">
             <span class="glyphicon glyphicon-trash"></span> 
          </button>
        </td>
      </tr>
    </thead>
  </table>
</div>


