 <div class="container">
<form #cobradorsForm="ngForm" (ngSubmit)="enviar()">
   <pre>{{ model | json}}</pre> 
  <div class="form-group">
    <label for="nome">Cobrador</label>
    <input type="text" id="nome" name=nome 
      [(ngModel)]="model.nome" class="form-control" />
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" name="email" type="email"
    [(ngModel)]="model.email" class="form-control">
  </div>
          
  <div class="text-center">
    <input type="submit" class="btn btn-primary" value="Enviar" />
  </div>
</form>
</div> 