 <!-- <nav *ngIf="mostrarMenu">
    <div class="nav-wrapper" style="background-color:#be3128">
     
      <a href="http://localhost:4200" class="brand-logo center">Passagem Ônibus</a>
      <a href="#" data-activates="menu-mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      
      <ul class="left hide-on-med-and-down">
          <li class="active"><a href="http://localhost:4200">Home</a></li>
          <li><a href="http://localhost:4200/passageiros">Passageiros</a></li>
          <li><a href="http://localhost:4200/cidades">Cidades</a></li>
          <li><a href="http://localhost:4200/linhas">Linhas</a></li>
          <li><a href="http://localhost:4200/pagamentos">Pagamentos</a></li>
      </ul>

    </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div> -->


  <app-menu></app-menu>  