 <div class="container">
<form #pagamentosForm="ngForm" (ngSubmit)="enviar()">
  <!-- <pre>{{ model | json}}</pre> -->
  <div class="form-group">
    <label for="valor">Valor</label>
    <input type="text" id="valor" name=valor 
      [(ngModel)]="model.valor" class="form-control" />
  </div>

  <div class="form-group">
    <label for="troco">Troco</label>
    <input type="text" id="troco" name=troco 
      [(ngModel)]="model.troco" class="form-control" />
  </div>

  <div class="text-center">
    <input type="submit" class="btn btn-primary" value="Enviar" />
  </div>
</form>
</div> 