<div class="container">
<h2 style="text-align:center">{{titulo}}</h2>
  <a [routerLink]="['/passagems/novo']" class="btn btn-primary btn-md" style="background-color: #dc3545;">
  Nova Passagem
  </a>
  <br><br>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th class="bg-danger text-white" >Nome</th>
        <th class="bg-danger text-white">CPF</th>
        <th class="bg-danger text-white">Cobrador</th> 
        <th class="bg-danger text-white">Origem</th>
        <th class="bg-danger text-white">Destino</th>
        <th class="bg-danger text-white">Data</th>
        <!-- <th class="bg-danger text-white">Valor</th> -->
        
        <th class="bg-danger text-white">Excluir</th>
      </tr>
      <tr *ngFor="let p of pas">
      <td>
        <a [routerLink]="['/passagems', p._id]">
          {{p.nome}}
        </a>
      </td>     

        <td>{{ p.cpf }}</td> 
        <td>{{ p.cob.nome}}</td> 
        <td>{{ p.cidade_origem.cidade }}</td>
        <td>{{ p.cidade_destino.cidade }}</td>
        <td>{{ p.data | date: 'dd/MM/yyyy' }}</td>
         <!-- <td>{{ p.valor }}</td>   -->
        <td>
          <button class="btn btn btn-danger" (click)="excluir(p._id)">
             <span class="glyphicon glyphicon-trash"></span> 
          </button>
        </td>
      </tr>
    </thead>
  </table>
</div>
