<div class="container">
<h2 style="text-align:center">{{titulo}}</h2>
  <a [routerLink]="['/passagems/novo']" class="btn btn-primary btn-md" style="background-color: #dc3545;">
  Nova Passagem
  </a>
  <br><br>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th class="bg-danger text-white" >Nome</th>
        <th class="bg-danger text-white">CPF</th>
        <th class="bg-danger text-white">Cobrador</th>
        <th class="bg-danger text-white">Linha</th>
        <th class="bg-danger text-white">Origem</th>
        <th class="bg-danger text-white">Destino</th>
        <th class="bg-danger text-white">Data</th>
        <th class="bg-danger text-white">Valor</th>
        
        <th class="bg-danger text-white">Excluir</th>
      </tr>
      <tr *ngFor="let passagem of passagems">
      <td>
        <a [routerLink]="['/passagems', passagem._id]">
          {{passagem.nome.passageiro}}
        </a>
      </td>     

        <td>{{ passagem.cpf.passageiro }}</td>
        <td>{{ passagem.nome_cobrador.cobrador }}</td>
        <td>{{ passagem.linha.linha }}</td>
        <td>{{ passagem.cidade_origem.cidade }}</td>
        <td>{{ passagem.cidade_destino.cidade }}</td>
        <td>{{ passagem.data.passageiro | date: 'dd/MM/yyyy' }}</td>
        <td>{{ passagem.valor.pagamento }}</td>
        <td>
          <button class="btn btn btn-danger" (click)="excluir(passagem._id)">
             <span class="glyphicon glyphicon-trash"></span> 
          </button>
        </td>
      </tr>
    </thead>
  </table>
</div>
