 <div class="container">
<form #linhasForm="ngForm" (ngSubmit)="enviar()">
  <!-- <pre>{{ model | json}}</pre> -->
  <div class="form-group">
    <label for="nome">Linha</label>
    <input type="text" id="linha" name=linha 
      [(ngModel)]="model.linha" class="form-control" />
  </div>

  <div class="form-group">
    <label for="partida">Partida</label>
    <input id="partida" name="partida"
      [(ngModel)]="model.partida" class="form-control">
  </div>

  <div class="form-group">
    <label for="destino">Destino</label>
    <input id="destino" name="destino"
      [(ngModel)]="model.destino" class="form-control">
  </div>
  <div class="text-center">
    <input type="submit" class="btn btn-primary" value="Enviar" />
  </div>

</form>
</div> 