<div class="card">
  <img class="card-img-top" src="https://photos-2.dropbox.com/t/2/AAAb-_GC03z9W4wphnqla7xkNdIILzltUuizFVdNrQ9AwQ/12/609268544/png/32x32/1/_/1/2/home.png/EODxi_YEGDYgAigC/3vIciGVI3OWa_-IQItpEfHNt4cmtZGlPzLxB8_e8zrw?size=1280x960&size_mode=3" alt="Card image cap">
  <div class="card-body">
      <h1>Seja Bem Vindo</h1>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>


  <img class="card-img-top" src="https://photos-4.dropbox.com/t/2/AACJ5zQzWFk4hkkoLM15wPSEzO2v7hL5b7hzQ35JouRbdw/12/609268544/png/32x32/1/_/1/2/background.png/EODxi_YEGDogAigC/sk5iByj5uxC1llJ6K0DWcz-5OC6cML-isuBDmp96Gdo?size=1280x960&size_mode=3" alt="Card image cap">
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
</div>
